# ========================
# Python cache
# ========================
__pycache__/
*.py[cod]
*$py.class

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/

# ========================
# Virtual environments (optional but recommended)
# ========================
.venv/
venv/
env/
ENV/

# ========================
# Project data (IMPORTANT)
# ========================
**/data/
output_data.*

# ========================
# OS files (lightweight)
# ========================
.DS_Store
Thumbs.db